<div class="shopLink">
  <ul>
    <li>
      <%= link_to "店舗の新規登録はこちらから", new_shop_path %>
           <!-- aタグを作成する、第一引数で表示名を、第二引数で遷移先を指定 -->
    </li>
    <li>
      <%= link_to "店舗の検索・更新はこちらから", shops_search_path %>
           <!-- aタグを作成する、第一引数で表示名を、第二引数で遷移先を指定 -->
    </li>
  </ul>
</div>