.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 100%;
  height: 70px;
  .header-left {
    float: left;
    // ロゴとリンクを横並びに
    h2 {
      padding-left: 50px;
      font-size: 22px;
    }
  }
  .header-right {
    float: right;
    height: 100%;
    // 高さは全て100％でヘッダーいっぱいに。リンククリック時の高さを出すため。
    ul {
      height: 100%;
      margin: 0;
      li {
        height: 100%;
        width: 100px;
        margin-right: 40px;
        display: inline-block;
        // 要素を横並びに
        text-align: center;
        // 真ん中に表示n
        a {
          display: block;
          // 高さをだして全体がクリックできるように
          height: 100%;
          padding-top: 20px;
          text-decoration: none;
          // 下線は不要
          color: black;
          // 元の青文字から変更
        }
      }
    }
  }
}

.main {
  padding:  60px 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: center;
}

#error_explanation {
  li{
    list-style: none;
    color: red;
    font-weight: bold;
  }
}

// アラートの表示
.alert {
  width: 100%;
  font-weight: bold;
  margin-bottom: 30px;
}
// アラートの種類によって色を変更
.alert-notice {
  color: blue;
}
.alert-danger {
  color: red;
}


// フォーム入力画面
.form {
  .explain {
    margin-bottom: 40px;
  }

  .inputForm {
    height: 50px;
    margin-bottom: 50px;
    padding-left: 15%;
    label {
      height: 50px;
      margin-top: 15px;
      display: block;
      float: left;
      width: 200px;
      vertical-align: middle;
     }
    input {
      display: block;
      float: left;
      width: 50%;
      font-size: 18px;
      height: 50px;
      padding-left: 10px;
    }
  }
  .fileForm {
    label {
      display: block;
      height: 100%;
      position: relative;
      top: 15px;
    }
    input {
      width: 50px;
    }
    .fileButton {
      height: 35px;
      width: 150px;
      margin-top: 0;
      padding-top: 13px;
      background-color: gray;
      opacity: 0.7;
      border-radius: 5px;
      border: 1px solid black;
      &:hover {
        cursor: pointer;
      }
    }
   .trimImage {
        margin-right: 30px;
    }
  }
  .sendForm{
    margin: 30px auto;
    padding: 20px 0;
    width: 250px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

// サイズに合わせて画像をカット。使用する場所によって.trimageのサイズを変更する
.trimImage {
  float: left;
  overflow: hidden;
  width: 100px;/* トリミング枠の幅 */
  height: 100px;/* トリミング枠の高さ */
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }
}

.footer {
  width: 100%;
  height: 70px;
}
