<div class="header">
  <div class="header-left">
    <h2>LOGO</h2>
  </div>
   <div class="header-right">
     <ul>
       <li>
         <%= link_to "店舗情報登録", '#' %>
       </li>
       <li>
         <%= link_to "店舗検索", '#' %>
       </li>
     </ul>
   </div>
</div>